table, th, td
{
    border: 1px solid red;
}

.commandsBox {
    white-space: pre-wrap;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    background-color: lightgray;
}

.keyword
{
    color: blue;
}

.acceptButton
{

}

.err
{

}

.radioButton
{

}

.upperButton
{

}